<div class="col-md-12">

    <div class="col-md-12">
        <div class="card card-user">
            <div class="card-header">
                <h5 class="card-title">Table Restaurant</h5>
            </div>
            <div class="card-body">
                <form #orderForm="ngForm">
                    <div class="row">
                        <div class="col-xl-3 col-sm-4">
                            <label for="validationCustom012" class="mb-0">Block</label>
                        </div>
                        <div class="col-xl-8 col-sm-7">
                            <input class="form-control" type="text" id="validationCustom012" name="price" required=""
                                [(ngModel)]="Table.block">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-sm-4">
                            <label for="validationCustom012" class="mb-0">Max </label>
                        </div>
                        <div class="col-xl-8 col-sm-7">
                            <input class="form-control" type="number" id="validationCustom012" name="price" required=""
                                [(ngModel)]="Table.max">
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-xl-3 col-sm-4">
                            <label for="validationCustom012" class="mb-0">now</label>
                        </div>
                        <div class="col-xl-8 col-sm-7">
                            <input class="form-control" type="number" id="validationCustom012" name="price" required=""
                                [(ngModel)]="Table.now">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-sm-4">
                            <label for="validationCustom012" class="mb-0">Restaurant ID  </label>
                        </div>
                        <div class="col-xl-8 col-sm-7">
                            <input class="form-control" type="number" id="validationCustom012" name="price" required=""
                                [(ngModel)]="Table.resto">
                        </div>
                    </div>
                    <div class="row">
                        <div class="update m-auto mr-auto">
                            <button type="submit" class="btn btn-primary btn-round">Update </button>
                            <button type="submit" class="btn btn-success btn-round"
                                (click)="addTableReservation()">Add</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title"> Table State : </h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="text-primary">
                                    <th>Block </th>
                                    <th>Max </th>
                                    <th>Right Now </th>
                                    <th>Numbers of the place</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor='let p of listtable'>
                                        <td>{{p.block}}</td>
                                        <td>{{p.max}}</td>
                                        <td>{{p.now}}</td>
                                        <td>{{p.number}}</td>

                                        <td><button type="button" class="btn btn-outline-primary"
                                                (click)="open(mymodal)">edit</button>
                                            <ng-template #mymodal let-modal>
                                                <div class="modal-header">
                                                    <h4 class="modal-title" id="modal-basic-title">Edit</h4>
                                                    <button type="button" class="close" aria-label="Close"
                                                        (click)="modal.dismiss('Cross click')">
                                                        <span aria-hidden="true" (click)="cancel()">×</span>

                                                    </button>

                                                </div>
                                                <div>
                                                    <form>
                                                        <div class="modal-body">

                                                            <div class="row" class="col-md-5">
                                                                <label>Block </label>
                                                                <input type="text" [(ngModel)]="p.block"
                                                                    [ngModelOptions]="{standalone : true}" />
                                                            </div>
                                                            <div class="row" class="col-md-5">
                                                                <label>Max </label>
                                                                <input type="number" [(ngModel)]="p.max"
                                                                    [ngModelOptions]="{standalone : true}" />
                                                            </div>
                                                            <div class="row" class="col-md-5">
                                                                <label>Now </label>
                                                                <input type="number" [(ngModel)]="p.now"
                                                                    [ngModelOptions]="{standalone : true}" />
                                                            </div>
                                                            <div class="row" class="col-md-5">
                                                                <label>Number </label>
                                                                <input type="number" [(ngModel)]="p.number"
                                                                    [ngModelOptions]="{standalone : true}" />
                                                            </div>
                                                        </div>

                                                        <div class="modal-footer">

                                                            <button type="button" class="btn btn-info"
                                                                (click)="modal.close('Save click')"
                                                                (click)="cancel()">Cancel</button>
                                                            <button class="btn btn-success" (click)="editProduct(p)"
                                                                (click)="modal.close('Save click')">Validate</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </ng-template>
                                            <button type="button" class="btn btn-outline-danger"
                                                (click)="deleteProduct(p.id_product)">delete</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>