<div class="col-md-12">

    <div class="col-md-12">
        <div class="card card-user">
            <div class="card-header">
                <h5 class="card-title">Table Restaurant</h5>
            </div>
            <div class="card-body">
                <form #orderForm="ngForm">
                    <div class="row">
                        <div class="col-xl-3 col-sm-4">
                            <label for="validationCustom012" class="mb-0">ID Table</label>
                        </div>
                        <div class="col-xl-8 col-sm-7">
                            <input class="form-control" type="number" id="validationCustom012" name="price" required=""
                                [(ngModel)]="Table.idTableRestaurant">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-sm-4">
                            <label for="validationCustom012" class="mb-0">Block</label>
                        </div>
                        <div class="col-xl-8 col-sm-7">
                            <input class="form-control" type="text" id="validationCustom012" name="price" required=""
                                [(ngModel)]="Table.block">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-sm-4">
                            <label for="validationCustom012" class="mb-0">Max </label>
                        </div>
                        <div class="col-xl-8 col-sm-7">
                            <input class="form-control" type="number" id="validationCustom012" name="price" required=""
                                [(ngModel)]="Table.max">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-sm-4">
                            <label for="validationCustom012" class="mb-0">Number </label>
                        </div>
                        <div class="col-xl-8 col-sm-7">
                            <input class="form-control" type="number" id="validationCustom012" name="number" required=""
                                [(ngModel)]="Table.number">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-sm-4">
                            <label for="validationCustom012" class="mb-0">now</label>
                        </div>
                        <div class="col-xl-8 col-sm-7">
                            <input class="form-control" type="number" id="validationCustom012" name="price" required=""
                                [(ngModel)]="Table.now">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-sm-4">
                            <label for="validationCustom012" class="mb-0">Restaurant ID </label>
                        </div>
                        <div class="col-xl-8 col-sm-7">
                            <select class="form-select" id="validationCustom012" name="restaurant"
                                [(ngModel)]="selectedRestaurant.idRestaurant">
                                <option *ngFor="let restaurant of listrestaurant" [value]="restaurant.idRestaurant">
                                    {{restaurant.idRestaurant }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="update m-auto mr-auto">
                            <button type="submit" class="btn btn-primary btn-round">Update </button>
                            <button type="submit" class="btn btn-success btn-round"
                                (click)="addTableReservation()">Add</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title"> Table State : </h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="text-primary">
                                    <th>ID </th>
                                    <th>Block </th>
                                    <th>Max </th>
                                    <th>Right Now </th>
                                    <th>Numbers of the place</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor='let p of listtable'>
                                        <td>{{p.idTableRestaurant}}</td>
                                        <td>{{p.block}}</td>
                                        <td>{{p.max}}</td>
                                        <td>{{p.now}}</td>
                                        <td>{{p.number}}</td>
                                        <button type="button" class="btn btn-outline-danger"
                                            (click)="deleteProduct(p.idTableRestaurant)">delete</button>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>