<div class="row">
    <div class="col-md-12">
        <div class="card card-user">
            <div class="card-header">
                <h5 class="card-title">Restaurant</h5>
            </div>
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col-md-5 pr-1">
                            <div class="form-group">
                                <label>Name Restaurant</label>
                                <input type="text" class="form-control" value="name restaurant ">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 pr-1">
                            <div class="form-group">
                                <label>Adress Restaurant</label>
                                <input type="text" class="form-control" placeholder="Adress">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 pr-1">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Nombre de place Disponible </label>
                                <input type="number" class="form-control" placeholder="nbr">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="update m-auto mr-auto">
                            <button type="submit" class="btn btn-primary btn-round">Update Profile</button>
                            <button type="submit" class="btn btn-success btn-round">Add Profile</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card card-user">
            <div class="image">
                <img src="assets/img/damir-bosnjak.jpg" alt="...">
            </div>
            <div class="card-body">
                <div class="author">
                    <a href="#">
                        <img class="avatar border-gray" src="assets/img/mike.jpg" alt="...">
                        <h5 class="title">Restaurant Name</h5>
                    </a>
                    <p class="description">adress Restaurant </p>
                </div>
                <p class="description text-center"> Nombre de place Disponible <br> nbr</p>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-round">Delete</button>
                    <button type="submit" class="btn btn-success btn-round">Select</button>
                </div>
            </div>
        </div>
    </div>
    
</div>