<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title"> History Of Access Of Restaurant </h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead class="text-primary">

                        <th>ID Reservation Place </th>
                        <th>ID User </th>
                        <th>Menu </th>
                        <th>Table </th>
                        <th>Date Start </th>
                        <th>Date End </th>

                    </thead>
                    <tbody>
                        <tr *ngFor='let p of listreservation'>
                            <td>{{p.idReservation}}</td>
                            <td>1</td>
                            <td>{{p.Menu}}</td>
                            <td>{{p.table}}</td>
                            <td>{{p.dateStart}}</td>
                            <td>{{p.dateEnd}}</td>

                            <td><button type="button" class="btn btn-outline-primary"
                                    (click)="open(mymodal)">edit</button>
                                <button type="button" class="btn btn-outline-danger"
                                    (click)="deleteProduct(p.id_product)">delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>