<div class="col-md-12">

    <div class="col-md-12">
        <div class="card card-user">
            <div class="card-header">
                <h5 class="card-title">Offre For Each Restaurant</h5>
            </div>
            <div class="card-body">
                <form #orderForm="ngForm">
                    <div class="row">
                        <div class="col-xl-3 col-sm-4">
                            <label for="validationCustom012" class="mb-0">idOffreRestaurant</label>
                        </div>
                        <div class="col-xl-8 col-sm-7">
                            <input class="form-control" type="text" id="validationCustom012" name="idOffreRestaurant"
                                required="" [(ngModel)]="offreRestaurant.idOffreRestaurant">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-sm-4">
                            <label for="validationCustom012" class="mb-0">nameOffre </label>
                        </div>
                        <div class="col-xl-8 col-sm-7">
                            <input class="form-control" type="text" id="validationCustom012" name="nameOffre"
                                required="" [(ngModel)]="offreRestaurant.nameOffre">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-3 col-sm-4">
                            <label for="validationCustom012" class="mb-0">nbrDays</label>
                        </div>
                        <div class="col-xl-8 col-sm-7">
                            <input class="form-control" type="number" id="validationCustom012" name="nbrDays"
                                required="" [(ngModel)]="offreRestaurant.nbrDays">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-sm-4">
                            <label for="validationCustom012" class="mb-0">Restaurant ID </label>
                        </div>
                        <div class="col-xl-8 col-sm-7">
                            <input class="form-control" type="number" id="validationCustom012" name="restaurant"
                                required="" [(ngModel)]="offreRestaurant.restaurant">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-sm-4">
                            <label for="validationCustom012" class="mb-0">price</label>
                        </div>
                        <div class="col-xl-8 col-sm-7">
                            <input class="form-control" type="number" id="validationCustom012" name="price" required=""
                                [(ngModel)]="offreRestaurant.price">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-sm-4">
                            <label for="validationCustom012" class="mb-0">BREAKFAST</label>
                        </div>
                        <div class="col-xl-8 col-sm-7">
                            <input class="form-control" type="checkbox" id="validationCustom012" name="BREAKFAST"
                                required="" [(ngModel)]="offreRestaurant.breakfast">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-sm-4">
                            <label for="validationCustom012" class="mb-0">LUNCH</label>
                        </div>
                        <div class="col-xl-8 col-sm-7">
                            <input class="form-control" type="checkbox" id="validationCustom012" name="LUNCH"
                                required="" [(ngModel)]="offreRestaurant.lunch">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-sm-4">
                            <label for="validationCustom012" class="mb-0">DINNER</label>
                        </div>
                        <div class="col-xl-8 col-sm-7">
                            <input class="form-control" type="checkbox" id="validationCustom012" name="DINNER"
                                required="" [(ngModel)]="offreRestaurant.dinner">
                        </div>
                    </div>
                    <div class="row">
                        <div class="update m-auto mr-auto">
                            <button type="submit" class="btn btn-primary btn-round">Update </button>
                            <button type="submit" class="btn btn-success btn-round" (click)="onSubmit()">Add</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title"> offers State : </h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="text-primary">
                                    <th>ID </th>
                                    <th>Name </th>
                                    <th>Nombre of Days available </th>
                                    <th>Is lunch in </th>
                                    <th>Is Dinner in </th>
                                    <th>Is BreackFast in </th>
                                    <th>Price </th>
                                    <th>of this Restaurant </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor='let p of listoffers'>
                                        <td>{{p.idOffreRestaurant}}</td>
                                        <td>{{p.nameOffre}}</td>
                                        <td>{{p.nbrDays}}</td>
                                        <td>{{p.lunch}}</td>
                                        <td>{{p.dinner}}</td>
                                        <td>{{p.breckfast}}</td>
                                        <td>{{p.price}}</td>
                                        <td>{{p.restaurant}}</td>
                                        <td>
                                            <button type="button" class="btn btn-outline-primary"
                                                (click)="open(mymodal)">edit</button>

                                            <ng-template #mymodal let-modal>
                                                <div class="modal-header">
                                                    <h4 class="modal-title" id="modal-basic-title">Edit</h4>
                                                    <button type="button" class="close" aria-label="Close"
                                                        (click)="modal.dismiss('Cross click')">
                                                        <span aria-hidden="true" (click)="cancel()">×</span>
                                                    </button>
                                                </div>
                                                <div>
                                                    <form #orderForm="ngForm">
                                                        <div class="modal-body">
                                                            <div class="row">
                                                                <div class="col-xl-3 col-sm-4">
                                                                    <label for="validationCustom012"
                                                                        class="mb-0">idOffreRestaurant</label>
                                                                </div>
                                                                <div class="col-xl-8 col-sm-7">
                                                                    <input class="form-control" type="text"
                                                                        id="validationCustom012"
                                                                        name="idOffreRestaurant" required=""
                                                                        [(ngModel)]="listoffers.idOffreRestaurant">
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-xl-3 col-sm-4">
                                                                    <label for="validationCustom012"
                                                                        class="mb-0">nameOffre </label>
                                                                </div>
                                                                <div class="col-xl-8 col-sm-7">
                                                                    <input class="form-control" type="text"
                                                                        id="validationCustom012" name="nameOffre"
                                                                        required="" [(ngModel)]="listoffers.nameOffre">
                                                                </div>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col-xl-3 col-sm-4">
                                                                    <label for="validationCustom012"
                                                                        class="mb-0">nbrDays</label>
                                                                </div>
                                                                <div class="col-xl-8 col-sm-7">
                                                                    <input class="form-control" type="number"
                                                                        id="validationCustom012" name="nbrDays"
                                                                        required="" [(ngModel)]="listoffers.nbrDays">
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-xl-3 col-sm-4">
                                                                    <label for="validationCustom012"
                                                                        class="mb-0">Restaurant ID </label>
                                                                </div>
                                                                <div class="col-xl-8 col-sm-7">
                                                                    <input class="form-control" type="number"
                                                                        id="validationCustom012" name="restaurant"
                                                                        required="" [(ngModel)]="listoffers.restaurant">
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-xl-3 col-sm-4">
                                                                    <label for="validationCustom012"
                                                                        class="mb-0">price</label>
                                                                </div>
                                                                <div class="col-xl-8 col-sm-7">
                                                                    <input class="form-control" type="number"
                                                                        id="validationCustom012" name="price"
                                                                        required="" [(ngModel)]="listoffers.price">
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-xl-3 col-sm-4">
                                                                    <label for="validationCustom012"
                                                                        class="mb-0">BREAKFAST</label>
                                                                </div>
                                                                <div class="col-xl-8 col-sm-7">
                                                                    <input class="form-control" type="checkbox"
                                                                        id="validationCustom012" name="BREAKFAST"
                                                                        required="" [(ngModel)]="listoffers.breakfast">
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-xl-3 col-sm-4">
                                                                    <label for="validationCustom012"
                                                                        class="mb-0">LUNCH</label>
                                                                </div>
                                                                <div class="col-xl-8 col-sm-7">
                                                                    <input class="form-control" type="checkbox"
                                                                        id="validationCustom012" name="LUNCH"
                                                                        required="" [(ngModel)]="listoffers.lunch">
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-xl-3 col-sm-4">
                                                                    <label for="validationCustom012"
                                                                        class="mb-0">DINNER</label>
                                                                </div>
                                                                <div class="col-xl-8 col-sm-7">
                                                                    <input class="form-control" type="checkbox"
                                                                        id="validationCustom012" name="DINNER"
                                                                        required="" [(ngModel)]="listoffers.dinner">
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="update m-auto mr-auto">
                                                                    <button type="submit"
                                                                        class="btn btn-primary btn-round">Update
                                                                    </button>
                                                                    <button type="submit"
                                                                        class="btn btn-success btn-round"
                                                                        (click)="addProduct(offreRestaurant)">Add</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-info"
                                                                (click)="modal.close('Save click')"
                                                                (click)="cancel()">Cancel</button>
                                                            <button class="btn btn-success" (click)="editProduct(p)"
                                                                (click)="modal.close('Save click')">Validate</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </ng-template>
                                            <button type="button" class="btn btn-outline-danger" (click)="deleteoffre(p.idOffreRestaurant)" >delete</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>