<div class="row">
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-round btn-sm btn-success" (click)="open(mymodal1)">Add new Offre </button>
            <br><br>
            <ng-template #mymodal1 let-modal1>
                <div class="modal-header">
                    <h4 class="modal-title" id="modal-basic-title">Add new Offre</h4>
                    <button type="button" class="close" aria-label="Close" (click)="modal1.dismiss('Cross click')">
                        <span aria-hidden="true" (click)="cancel()">×</span>
                    </button>

                </div>
                <div class="center">
                    <form>
                        <div class="row" class="col-md-6">
                            <input type="text" placeholder="Product Name" [(ngModel)]="product.nameOffre"
                                [ngModelOptions]="{standalone : true}">
                        </div>
                        <div class="row" class="col-md-6">
                            <input type="number" placeholder="Price" [(ngModel)]="product.nbrDays"
                                [ngModelOptions]="{standalone : true}">
                        </div>
                        <div class="row" class="col-md-6">
                            <input type="number" placeholder="Quantity" [(ngModel)]="product.price"
                                [ngModelOptions]="{standalone : true}">
                        </div>
                        <br>
                        <button type="button" class="btn btn-success" (click)="addProduct(product)"
                            (click)="modal1.close('Save click')">Add</button>
                        <button type="button" class="btn btn-info" (click)="modal1.close('Save click')">Cancel</button>
                    </form>
                </div>
            </ng-template>
            <div class="row">
                <div class="card" class="text-center">
                    <table class="table">
                        <thead style="background-color: rgb(192, 183, 183);">
                            <th>nameOffre</th>
                            <th>nbrDays</th>
                            <th>BREAKFAST</th>
                            <th>LUNCH</th>
                            <th>DINNER</th>
                            <th>price</th>
                            <th>restaurant</th>
                        </thead>
                        <tbody>
                            <tr *ngFor='let p of listoffers'>
                                <td>{{p.nameOffre}}</td>
                                <td>{{p.nbrDays}}</td>
                                <td>{{p.BREAKFAST}}</td>
                                <td>{{p.LUNCH}}</td>
                                <td>{{p.DINNER}}</td>
                                <td>{{p.price}}</td>
                                <td>{{p.restaurant}}</td>
                                <td><button type="button" class="btn btn-outline-primary"
                                        (click)="open(mymodal)">edit</button>
                                    <ng-template #mymodal let-modal>
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="modal-basic-title">Edit</h4>
                                            <button type="button" class="close" aria-label="Close"
                                                (click)="modal.dismiss('Cross click')">
                                                <span aria-hidden="true" (click)="cancel()">×</span>
                                            </button>

                                        </div>
                                        <div>
                                            <form>
                                                <div class="modal-body">
                                                    <div class="row" class="col-md-5">
                                                        <label>Title</label>
                                                        <input type="text" [(ngModel)]="p.nameOffre"
                                                            [ngModelOptions]="{standalone : true}" />
                                                    </div>
                                                    <div class="row" class="col-md-5">
                                                        <label>nombre of days</label>
                                                        <input type="number" [(ngModel)]="p.nbrDays"
                                                            [ngModelOptions]="{standalone : true}" />
                                                    </div>
                                                    <div class="row" class="col-md-5">
                                                        <label>BREAKFAST</label>
                                                        <input type="number" [(ngModel)]="p.BREAKFAST"
                                                            [ngModelOptions]="{standalone : true}" />
                                                    </div>
                                                    <div class="row" class="col-md-5">
                                                        <label>LUNCH</label>
                                                        <input type="text" [(ngModel)]="p.LUNCH"
                                                            [ngModelOptions]="{standalone : true}" />
                                                    </div>
                                                    <div class="row" class="col-md-5">
                                                        <label>DINNER</label>
                                                        <input type="text" [(ngModel)]="p.DINNER"
                                                            [ngModelOptions]="{standalone : true}" />
                                                    </div>
                                                    <div class="row" class="col-md-5">
                                                        <label>price</label>
                                                        <input type="text" [(ngModel)]="p.Price"
                                                            [ngModelOptions]="{standalone : true}" />
                                                    </div>
                                                    <div class="row" class="col-md-5">
                                                        <label>restaurant</label>
                                                        <input type="text" [(ngModel)]="p.Restaurant"
                                                            [ngModelOptions]="{standalone : true}" />
                                                    </div>
                                                </div>

                                                <div class="modal-footer">

                                                    <button type="button" class="btn btn-info"
                                                        (click)="modal.close('Save click')"
                                                        (click)="cancel()">Cancel</button>
                                                    <button class="btn btn-success" (click)="editProduct(p)"
                                                        (click)="modal.close('Save click')">Validate</button>
                                                </div>
                                            </form>
                                        </div>
                                    </ng-template>
                                    <button type="button" class="btn btn-outline-danger"
                                        (click)="deleteProduct(p.id_product)">delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>